/data/
/.lando.yml
*.cache.php

# plugins
/plugin/*
!/plugin/antispam/
!/plugin/blog/
!/plugin/configmanager/
!/plugin/contact/
!/plugin/filemanager/
!/plugin/galerie/
!/plugin/marketplace/
!/plugin/page/
!/plugin/pluginsmanager/
!/plugin/seo/
!/plugin/tinymce/
!/plugin/users/

# themes
/theme/*
!/theme/default/

#editor
.vscode/